* {
  font-family: Lato;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 220;
  	line-height: 15px;
  }

body {
    background-image: url('http://crunchify.com/bg.png');
}

.list-type6{
    width:410px;
    margin:0 auto;
}

.list-type6{
    font-size:15px;
    font-family: 'Raleway', sans-serif;
}

.list-type6 {
    display:block;
    width:450px;
    margin-left: -40px;
    height:inherit;
    background-color:#03B3CB;
    border-left:5px solid #222;
    border-right:5px solid #222;
    padding-left:10px;
    padding-top:7px;
    text-decoration:none;
    color:white;
    transition: all .2s ease-in-out;
}

.list-type6:hover {
    -moz-transform:rotate(-5deg);
    -moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg);
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(-5deg);
    box-shadow:10px 10px 20px #000000;
}

