* {
  font-family: Lato;
  	font-style: normal;
  	font-variant: normal;
  	font-weight: 220;
  	line-height: 15px;
  }

body {
    background-image: url('http://cloudberrystudio.ru/ff/4/fon_bumaga_myataya_2048x1536.jpg');
}

.list-type6{
    width:410px;
    margin:0 auto;
}

.list-type6{
    font-size:15px;
    font-family: 'Raleway', sans-serif;
}

.list-type6 {
    display:block;
    width:450px;
    align: center;
    height:inherit;
    background-color:#03B3CB;
    border-left:5px solid #222;
    border-right:5px solid #222;
    padding-left:10px;
    padding-top:7px;
    text-decoration:none;
    color:white;
    transition: all .2s ease-in-out;
    margin-top: 200px;
}

.list-type6:hover {
    -moz-transform:rotate(-5deg);
    -moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg);
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(-5deg);
    box-shadow:10px 10px 20px #000000;
}

.menu {
    align: center;
    margin-top: 200px;
    background-color: rgba(255, 228, 166, 0);
    padding-left:38px;
    padding-top:20px;
    width:120px;
    border-radius: 5px 5px 0px 0.05px;
    border: 0.1px solid;
    border-color:  rgba(0, 9, 36, 0.2);
}

.forTaskButton {
margin-top: 0;
border-radius: 0px 0px 5px 5px;
padding-bottom: 20px;
padding-left: 40px;
border-color:  rgba(0, 9, 36, 0.2);
}

.addTasks {
display:block;
    width:450px;
    margin-left: 500px;
    height:inherit;
    background-color: rgba(255, 255, 214, 0.3);
    border-radius: 10px;
    border:2px solid rgba(234, 230, 255, 1);
    padding-left:10px;
    padding-top:7px;
    text-decoration:none;
    color:white;
    transition: all .2s ease-in-out;
    margin-top: 200px;
}
